body {
    margin: 0;
    font-family: playfair-display-body;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #1e1e1e;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #1e1e1e;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
    align-items: baseline;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

footer {
    background-color: #1e1e1e;
    padding: 1rem;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.intro {
    font-size: 24px;

}


.playfair-display-body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}