body {
    font-family: 'Helvetica', Courier, monospace;
    font-size: 19px;
    color: rgb(114, 19, 19);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: underline;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
