body {
    background-color: black;
    text-align: center;
    font-family: Courier, monospace;
    font-size: 19px;
    color: rgb(135, 12, 12);
}

h1 {
    font-size: 4em;
}

a {
    text-decoration: underline;
}